*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse bold";
  src: url("fonts/norse-bold-webfont.woff");
}

body{
  display: flex;
}

.content{
  height: 100vh;
}

.navbar{

  background-image: url(images/leaf-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 100vh;
}

.odin-img{
  height: 90px;
  padding-left: 200px;
  padding-top: 20px;
}

.leaves{
  width: 35vw;
  height: 100vh;
}

.odin-img-text>p{
  display: inline;
  position: relative;
  bottom: 12px;
  height: 140px;
  font-family: "Norse bold";
  color: white;
  font-size: 70px;
}

.odin-img-text{
  box-sizing: border-box;
  margin-top:50%;
  background: rgba(0, 0, 0, 0.4);
  height: 140px;
  width: 100%;
}

.odin-text{
  font-family: "Norse bold";
  font-size: 60px;
  color: white;
}

footer{
  padding-top: 75%;
  padding-left: 25%;
  color: white;
}

a{
  color: inherit;
}