*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse bold";
  src: url("fonts/norse-bold-webfont.woff");
}

@viewport{
  max-zoom: 1.8;
}

body{
  display: flex;
}

.content{
  height: 100vh;
  width: 55vw;
}

.navbar{
  position: relative;
  overflow-y: auto;
  background-image: url(images/leaf-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 100vh;
}

.odin-img{
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}

.odin-img-text>p{
  display: inline;
  position: relative;
  bottom: 12px;
  height: 140px;
  font-family: "Norse bold";
  color: white;
  font-size: 70px;
}

.odin-container{
  position: relative;
  top: 30%;
  background: rgba(0, 0, 0, 0.4);
}
.odin-img-text{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.odin-text{
  font-family: "Norse bold";
  font-size: 60px;
  color: white;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  color: white;
}

a{
  color: inherit;
}